#indexBody{
     background-color: #ffccd2;
     background-size:cover;
     text-align: center;
     margin:15px;
}
 nav#navigation{
     background-color:inherit;
     margin: 0 auto;
     font-family: "Courier New", Courier;
     text-align: center;
     width:80%;
}
 nav#navigation ul{
     list-style: none;
     padding:0;
}
 nav#navigation ul li {
     float:inherit;
     display: inline;
}
 nav#navigation ul li a {
     display:inline-block;
     padding:20px;
     color:gray;
     text-decoration: none;
     background-color:#ffe6e9;
     color:#ff6678;
     font-weight: bold;
     text-align: center;
}
 nav#navigation ul li a:hover {
     color:gray;
}
 img{
     width: 30%;
     height: 30%;
     display: block;
     margin-right: auto;
     margin-left: auto;
}
 #education, #experience, #tskills, #sskills{
     font-family: "Times New Roman", Times, serif;
     text-align: left;
     text-decoration: underline overline;
     text-decoration-color: #ff808e;
}
 #resumeBody{
     text-align: left;
     background-color:#ffe5f9;
}
 #technicalSkillSection{
     margin-top: 200px;
}
 #educationSection{
     float:right;
     margin-bottom:1000px;
}
 #softSkillsSection.absolute{
     position: relative;
     right:400px;
}
 #pimg1{
     float:left;
}
 #pimg{
     float:right;
}
 #resumeh1{
     text-align: center;
     text-decoration: underline overline;
     text-decoration-color: #ff334b
}
 #resumeIntro, #resumeEmail{
     text-align:center;
     font-weight: bold;
     margin-bottom: 50px;
}
/*-- add margin to top and/or bottom to seperate sections */
 #projectsBody{
     background-color: #ffccd2;
     background-size:cover;
     text-align: center;
     margin:15px;
}
 #projectHeading{
     text-align: center;
}
 #vid{
     width: 250px;
     height: 250px;
}

#map{
  width:500px;
  height:600px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width:800px){
#resumeBody{
  text-align: left;
  background-color:#e5cee0;
}

#educationSection{
  float:right;
  margin-bottom:1000px;
  background-color: #a0909c;
}

#technicalSkillSection{
  margin-top: 200px;
  background: #a0909c;

}

#softSkillsSection.absolute{
  position: relative;
  right:400px;
  background-color: #a0909c;
}

#experience{
  background-color: #a0909c;

}





}

}
